# Java

*.class

#Ignore our hidden highlighted files
*.highlighted.htm

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
.idea/
*.iml

target/


java-ebook-search/src/main/resources/java_ebook_search/files/fclass/.highlighted.htm

java-ebook-search/src/main/resources/java_ebook_search/files/javanut/.highlighted.htm
