<html>
<head>
    <title>Java eBook Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
<header>
    <h1>Java eBook Search</h1>
    <aside>Version 1.0</aside>
</header>
<main>
    <div>
        <h3>How to use</h3>
        <ul>
            <li>Use the search bar at the top to type query.</li>
            <li>Hit enter or press 'select'.</li>
            <li>Click results on the left.</li>
            <li>Hit the filters button to control what you see!</li>
        </ul>
    </div>
    <div>
        <h3>Authors</h3>
        <p>Liam O'Donnell</p>
        <p>Aidan O'Grady</p>
        <p>Jenna Page</p>
        <p>Kevin Paton</p>
        <p>Stewart Pollock</p>
    </div>
</main>
</body>
</html>