<html>
<head>
    <title>Java eBook Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
<header>
    <h1>Java eBook Search</h1>
    <aside>Version 1.0</aside>
</header>
<main>
    <div>
        <h3>How to use</h3>
        <ul>
            <li>Use the search bar at the top to type query.</li>
            <li>Hit enter or press 'select'.</li>
            <li>Click results on the left to display the result..</li>
        </ul>

        <h4>Boolean queries</h4>
        <p>You can use boolean queries in the search bar. The queries "x AND y",
        "x OR y" and "NOT x" will execute the various boolean queries. Note that
        <b>capitals must be used</b> or the system will think you're searching
        the acutal words.</p>
    </div>
    <div>
        <h3>Authors</h3>
        <p>Liam O'Donnell</p>
        <p>Aidan O'Grady</p>
        <p>Jenna Page</p>
        <p>Kevin Paton</p>
        <p>Stewart Pollock</p>
    </div>
</main>
</body>
</html>